# ⛔ Исключить виртуальное окружение
venv/
.env/
*.env

# 📁 Логи и отчёты
*.log
*.csv
logs/
__pycache__/

# 📂 Данные и сигналы
*.json
bot/signals/
!bot/signals/*.py
data/
historical_data/

# 💻 Конфиги и временные файлы
.DS_Store
*.pyc
*.pyo
*.swp
*~

# 📦 IDE и редакторы
.vscode/
.idea/

# 🔐 Личное
secrets/
config.yaml
token.txt
